
.container{

  margin: auto;
  width: 350px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(200, 221, 241);
  font-style: italic;
  color:darkblue ;
  text-align: center;
 
}
#minusbtn {
    background-color: red;
}
#plusbtn{
    background-color:green
}

#plusbtn ,#minusbtn  {
border: none;
height: 45px;
width: 45px;
font-size: 30px;
cursor: pointer;

}

.state{
margin: 15px;
font-size: 40px;
}